:root {
    /* Scaling Factor (uncomment the proper one) */
    /* Windows */
    /* --scaling-factor: 0.64; */

    /* Linux | UNIX | Darwin */
    --scaling-factor: 1;

    /* Color Palette */
    --main-dark-color: #000A12;
    --main-color: #263238;
    --main-light-color: #4F5B62;

    --accent-color: #F50057;
    --accent-light-color: #FF5983;

    --secondary-white: #CCCCCC;

    /* General */
    --standard-horizontal-padding: calc( 20px * var(--scaling-factor) );

    /* Header */
    --header-height: calc( 80px * var(--scaling-factor) );
    --header-font-size: calc( 22px * var(--scaling-factor) );

    /* Main Section */
    --main-section-height: calc( 100vh - var(--header-height) );

    /* Song Tile */
    --song-tile-height: calc( 75px * var(--scaling-factor) );
    --song-title-font-size: calc( 18px * var(--scaling-factor) );
    --song-artist-font-size: calc( 14px * var(--scaling-factor) );
    --song-duration-font-size: calc( 16px * var(--scaling-factor) );

    /* Player Minimized */
    --player-minimized-height: calc( 65px * var(--scaling-factor) );
}


* {
    margin: 0;
    padding: 0;
    outline: none;
    font-family: 'Roboto', sans-serif;
}


body {
    position: relative;
}


header {
    font-size: var(--header-font-size);
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    height: var(--header-height);
    background-color: var(--main-light-color);
    display: flex;
    color: white;
}


main {
    background-color: var(--main-color);
    padding-top: var(--header-height);
    height: var(--main-section-height);
}


.song-tile {
    display: flex;
    height: var(--song-tile-height);
    color: white;
    padding: 0 var(--standard-horizontal-padding);
    cursor: pointer;
}

.song-tile .song-info {
    flex-grow: 2;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.song-tile .song-info .song-title {
    font-size: var(--song-title-font-size);
    font-weight: 500;
    line-height: 1.4em;
}
.song-tile .song-info .song-artist {
    font-size: var(--song-artist-font-size);
    font-weight: 400;
    color: var(--secondary-white);
}

.song-tile .song-duration {
    line-height: var(--song-tile-height);
    font-weight: 300;
    font-size: var(--song-duration-font-size);
}

.song-active {
    color: var(--accent-color);
}

.song-active .song-info .song-title {
    font-weight: 700;
}
.song-active .song-info .song-artist {
    color: var(--accent-light-color);
    font-weight: 500;
}

.song-active .song-duration {
    font-weight: 400;
}


.player-minimized {
    position: fixed;
    width: 100%;
    height: var(--player-minimized-height);
    bottom: 0;
    left: 0;
    color: white;
    cursor: pointer;
    background-color: var(--main-dark-color);
}

.player-minimized .progress-bar {
    width: 100%;
    height: 3px;
    background-color: var(--secondary-white);
}
.player-minimized .progress-bar .progress {
    height: 100%;
    background-color: var(--accent-color);
}

.player-minimized .song {
    display: flex;
    height: var(--player-minimized-height);
    color: white;
    padding: 0 var(--standard-horizontal-padding);
}

.player-minimized .song .song-info {
    flex-grow: 2;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.player-minimized .song .song-info .song-title {
    font-size: var(--song-title-font-size);
    font-weight: 500;
}
.player-minimized .song .song-info .song-artist {
    font-size: var(--song-artist-font-size);
    font-weight: 400;
    color: var(--secondary-white);
}

.player-minimized .song .song-control {
    cursor: pointer;
    padding: 0 10px;
    margin-right: -15px;
}
.player-minimized .song .song-control i {
    line-height: var(--player-minimized-height);
}
